.invitenewuser {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #7f7f7f;
}

.header {
    display: flex;
    justify-content: center;
}

button {
    background: #b8cecf;
    color: black;
    border-color: #7f7f7f;
    margin-left: 50px;
}

h3{
    padding-bottom: 20px;
}

input {
    width: 300px;
    margin-bottom: 20px;
}

.background {
    width: 100%;
    height: 1707px;
    padding-top: 300px;
    background-image: url("/assets/images/homepage_background.jpg");
}

.all{
    background-color: #FCFCFC;
    margin: auto;
    width: 50%;
    height: auto;
    padding: 20px 75px;
    border-color: #7f7f7f;
    border: 2px solid;
    border-radius: 4px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.logo{
    padding-bottom: 10px;
}
