<app-navigation></app-navigation>
<div class="mygroups">
<h3>My Groups</h3>
<ul>
  <!-- <li *ngFor="let group of groups"><h4>{{group?.groupName}}</h4></li> -->

  <li *ngFor="let group of groups" [routerLink]="['/groupdetails/', group.id]" ><h4>{{group?.groupName}}</h4></li>

</ul>
<button type="button" routerLink="/newgroupform" type="submit" class="btn btn-primary">Add a New Group</button>

</div>

<div class="mygroupstable">
<h3>Join Us!</h3>
<p></p>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Request to Join</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of groups">
      <td>{{group?.groupName}}</td>
      <td>
        <button [routerLink]="['/groupdetails/', group.id]">Join!</button>
        <!-- <button [routerLink]="['/requestform/', tool.id]">No Thanks. You guys ruin tools.</button> -->
      </td>
    </tr>
  </tbody>
</table>
</div>