.mygroups {
    /* display: flex;
    justify-content: center; */
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
    color: #7f7f7f;
}

button {
    background: #b8cecf;
    color: black;
    border-color: #7f7f7f;
    margin-left: 110px;
}

h3{
    padding-bottom: 20px;
}