<app-navigation></app-navigation>

<button (click)="this.location.back()">Return to Previous Page</button>
<div>
  Category: <p>{{tool?.category}}</p>
  Tool Name: <p>{{tool?.toolName}}</p>
  Description: <p>{{tool?.toolDescription}}</p>
  Age: <p>{{tool?.toolAge}}</p>
  Owner of Tool: <p>{{tool?.owner?.firstName}} {{tool?.owner?.lastName}}</p>
  <!--need to add logic for this button so it only displays if its the current user is the owner of the tool -->
  <div>
      <button type="submit" [routerLink]="['/toolform/', tool?.id]">Edit Tool</button>
  </div>
</div>
