<app-navigation></app-navigation>



<div class="all">
  <div class="image">
    <img src="{{tool?.image}}" height="300px" />
  </div>

  <div class="textdisplay">
    <h3>Tool Details</h3>
  Category: <p>{{tool?.categoryName}}</p>
  Tool Name: <p>{{tool?.toolName}}</p>
  Description: <p>{{tool?.toolDescription}}</p>
  Age: <p>{{tool?.toolAge}}</p>
  Status: <p>{{tool?.status}}</p>
  Owner of Tool: <p>{{tool?.owner?.firstName}} {{tool?.owner?.lastName}}</p>
  
  <!--need to add logic for this button so it only displays if its the current user is the owner of the tool -->
  <div *ngIf="userOwnsTool()"> 
      <button class="btn btn-primary" [routerLink]="['/toolform/', tool?.id]">Edit Tool</button>
      <button class="btn btn-primary" [routerLink]="['/addimage/', tool?.id]">Add Image to Tool</button>
  </div>
</div>
<!-- <button (click)="this.location.back()">Return to Previous Page</button> -->
</div>
<div class="bottomlink">
<a (click)="this.location.back()" class="btn"> &lt;-- Return to Previous Page</a>
</div>