.groupMembers {
    display: flex;
    justify-content: left;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #7f7f7f;
}

button {
    background: #b8cecf;
    color: black;
    border-color: #7f7f7f;
}

h4{
    padding-bottom: 10px;
}

td {
text-align: center;
}

.member {
    display: flex;
    justify-content: left;
}
