<app-navigation></app-navigation>

<h1>Available Tools in your Group</h1>

<table datatable class="table table-striped table-bordered" style="width:100%" id="dataTable">
  <thead>
    <tr>
      <th>Category</th>
      <th>Tool Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tool of group">
      <td>{{tool?.category}}</td>
      <td>{{tool?.toolName}}</td>
      <td>{{tool?.toolDescription}}</td>
      <td>
        <button [routerLink]="['/tooldetails/', tool.id]">Tool Details</button>
        <button data-id={{tool.id}} routerLink='/requestform'>Request Tool</button>
      </td>
    </tr>
  </tbody>
</table>


