<app-navigation></app-navigation>

<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>Category</th>
      <th>Tool Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tool of tools">
      <td>{{tool?.category}}</td>
      <td>{{tool?.toolName}}</td>
      <td>{{tool?.toolDescription}}</td>
      <td>
        <button data-id={{tool.id}}>Tool Details</button>
        <button data-id={{tool.id}} routerLink='/requestform'>Request Tool</button>
      </td>
    </tr>
  </tbody>
</table>
