.inviteNewMemberForm {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #7f7f7f;
}

.header {
    display: flex;
    justify-content: left;
}

button {
    background: #b8cecf;
    color: black;
    border-color: #7f7f7f;
    display: flex;
    justify-content: center;
}

h4{
    padding-bottom: 20px;
}

input {
    width: 280px;
    margin-bottom: 20px;
}

label, input{
    display: block;
}

.col-sm-10  {
    padding-left: 0px;
}

input.ng-invalid.ng-touched {
    border-color: red;
}
