<div class="background">
  <div class="all">
    <div class="logo">
        <img src="assets/images/a_shed_with_text.png" alt="shed">
    </div>
    <div class="signupform">
      <form (ngSubmit)="submitNewUser(signUpForm)" #signUpForm="ngForm">
        <div class="form-group">
          <label for="firstName" class="col-sm-3 control-label">First Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ngModel #model="ngModel" id="firstName" name="firstName" required>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName" class="col-sm-3 control-label">Last Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ngModel #model="ngModel" id="lastName" name="lastName" required>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" ngModel #model="ngModel" id="email" name="email" required>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" ngModel #model="ngModel" id="password" name="password" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Complete Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
