<div class="product-search">
  <div class="header">
    <h3>Or Search The Product Catalog:</h3>
  </div>
  <div>
    <form class="searchform" (submit)="getProducts()" (keyup.enter)="getProducts()">
      <input type="text" class="form-control" [(ngModel)]="searchString" name="searchString" placeholder="Search for a tool" required>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  </div>
  <div *ngIf="products" class="product-table">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td><img src="{{product.images[0]}}"height="50px"></td>
        <td>{{product.name}}</td>
        <td>
          <button (click)="copyProductDetails()">Copy Product Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
