<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img alt="Brand" src="assets/images/shed.png">
      <a class="navbar-brand" href="#">Community Shed</a>
    </div>

    <div>
      <ul class="nav navbar-nav navbar-left">
        <li routerLinkActive="active"><a routerLink="/communityshed">Community Shed</a></li>
        <li routerLinkActive="active"><a routerLink="/mygroups" >My Groups</a></li>
        <li routerLinkActive="active"><a routerLink="/myshed" >My Shed</a></li>
      </ul>

      <div class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="#">Welcome {{firstName}}!</a></li>
        <li><button class="btn btn-primary" (click)="logOutUser()">Log Out</button></li>
      </div>

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>

