img {
height: 75px;
width:auto;
float: left;
margin: 5px;
}
.container {
    padding-left: 100px;
}
button {
    background: #b8cecf;
    color: black;
    border-color: #7f7f7f;
    margin-top: 10px;
    margin-right: 10px;
}
