<app-navigation></app-navigation>
<div class="toolform">
  <form novalidate (ngSubmit)="saveTool(toolForm)" #toolForm="ngForm">
    <div class="header">
        <h3>Tool Details</h3>      
    </div>
    <input [ngModel]="tool?.id" ngModel #model="ngModel" type="hidden" name="id">  
    <input [ngModel]="tool?.image" ngModel #model="ngModel" type="hidden" name="image">
    <label for="category" class="col-sm-2 control-label">Category</label>
    <div class="col-sm-10">
    <select class="form-control" [(ngModel)]="tool.category" id="category" name="category" required>
      <option *ngFor="let category of toolCategories" [value]="category.id">{{ category.text }}</option>
    </select>
  </div>

    <div class="form-group">
      <label for="toolName" class="col-sm-2 control-label">Tool Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [ngModel]="tool?.toolName" ngModel #model="ngModel" id="toolName" name="toolName" required>
      </div>
    </div>
    <div class="form-group">
      <label for="text" class="col-sm-2 control-label">Tool Manufacturer</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [ngModel]="tool?.manufacturer" ngModel #model="ngModel" id="manufacturer" name="manufacturer" required>
      </div>
    </div>
    <div class="form-group">
      <label for="text" class="col-sm-2 control-label">Tool Description</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" [ngModel]="tool?.toolDescription" ngModel #model="ngModel" id="toolDescription" name="toolDescription" required></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="text" class="col-sm-2 control-label">Age</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" [ngModel]="tool?.toolAge" ngModel #model="ngModel" id="toolAge" name="toolAge" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="!toolForm.valid">Submit</button> 
        <h4 class="message" *ngIf="messageToShow">{{messageToShow}}</h4>     
      </div>
    </div>
  </form>
</div>
<div class="bottomlink">
<a (click)="this.location.back()">&lt;-- Return to Previous Page</a>
</div>
<div>
    <app-products *ngIf="!tool.id" (onSelectProduct)="onSelectProduct($event)"></app-products>
</div>
